p {
    display: flex;
    justify-content: flex-end;
}

a {
    color: #fff;
    text-decoration: none;
}

h3 {
    color: #fff;
    margin: 0;
    font-size: 16px;
}

.checkBox {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 1em;
}

.checkDiv {
    width: 30%;
}

.checkBox label {
    color: #fff;
}
